@import "../../styles/utils";

.Form {

  &__input {
    margin-bottom: 16px;
    padding: 16px;
    height: 56px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 16px;
  }

  &__button {
    margin-top: 16px;
    display: block;
    width: 100%;
    @include green-button;
  }
}
